

<div class="grid">
    <section id="CustCreate"><h2>Create Customer</h2>
        <form id="cust-form">
            <input type="text" id="name" placeholder="name" required>
            <input type="text" id="clientType" placeholder="clientType" required>
            <input type="text" id="phone" placeholder="phone" required>
            <button type="submit">Add Customer</button>
        </form></section>
    <section id="TopCust"><h2>Top Customers </h2></section>
    <section id="VIPCust"><h2>VIP Customers </h2></section>
    <section id="other"><h2> Lorem ipsum dolor </h2></section>
</div>

<div class ="dashboard-Time">
    <section class="dashboard-section1" id="timing">
        <h1>Here You Can See All Your Customers </h1>
        <div class="containersearch">

            <form role="search" method="get" class="search-form form" action="">
                <label>
                    <span class="screen-reader-text">Search for...</span>
                    <input type="search" class="search-field" placeholder="Type something..." value="" name="s" title="" />
                </label>
                <input type="submit" class="search-submit button" value="&#xf002" />
                <!--            <button  type="submit" style=" margin: 10px ; cursor: pointer ;background: #d4b743;color: #292826;outline: 0;"  ><a>Get Pdf</a></button>-->


            </form>
        </div>
        <div id="Custom-List"></div>


    </section>


</div>

<link rel="stylesheet" href="Cust.css">
